[gcode_macro SCREWS_TILT_ADJUST]
gcode:
    SCREWS_TILT_CALCULATE

[gcode_macro PROBE_CALIBRATION]
gcode:
    PROBE_CALIBRATE

[gcode_macro M300]
gcode:
    {% set S = params.S|default(1000)|float %}
    {% set P = params.P|default(100)|int %}

    {% if S <= 0 %}
        {% set S = 1000 %}
    {% endif %}

    SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={1.0 / S}
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0


[gcode_macro PRINT_END_SOUND]
gcode:
  M300 S784 P150
  M300 S988 P180
  M300 S1175 P220
  M300 S1568 P600

[gcode_macro START_PRINT]
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

  # Wait for temperatures
  M190 S{BED_TEMP} # Set and wait for bed to reach temperature
  M109 S{EXTRUDER_TEMP} # Set and wait for nozzle to reach temperature

  # Reset 
  G21 # metric values
  G90 # absolute positioning
  G92 E0 # Reset Extruder
  G28 # Home all axes

  # Calibrate
  BED_MESH_CALIBRATE [METHOD=manual]

  # Purge
  G1 Z2.0 F3000 # Move Z axis up little to prevent scratching the bed
  G1 x1 Y211.5 Z0.3 F5000.0 # Move to start position
  G1 x180 Y211.5 Z0.3 F1500.0 E15 # Draw the first line
  G1 x180 Y211 Z0.3 F5000.0 # Move to side a little
  G1 x1 Y211 Z0.3 F1500.0 E30 # Draw the second line

  # Purge and prime - from orcaSlicer - copied from Ultimaker 2 preset
  # M83; set extruder to relative mode
  # G92 E0; reset extrusion distance
  # G0 X0 Y1 F10000
  # G1 F150 E20 ; compress the bowden tube
  # G1 E-8 F1200
  # G0 X30 Y1 F5000
  # G0 F1200 Z{initial_layer_print_height/2}; Cut the connection to priming blob
  # G0 X100 F10000; disconnect with the prime blob
  # G0 X50; Avoid the metal clip holding the Ultimaker glass plate
  # G0 Z0.2 F720
  # G1 E8 F1200
  # G1 X80 E3 F1000; intro line 1
  # G1 X110 E4 F1000 ; intro line 2
  # G1 X140 F600; drag filament to decompress bowden tube
  # G1 X100 F3200; wipe backwards a bit
  # G1 X150 F3200; back to where there is no plastic: avoid dragging
  # G92 E0; reset extruder reference
  # M82; set extruder to absolute mode
  
  G92 E0 # Reset Extruder
  G1 Z2.0 F3000 # Move Z axis up little to prevent scratching the bed
  G1 Y210 Z0.3 F5000.0 # Move over to prevent blob squish

[gcode_macro END_PRINT]
gcode:
  G91 # Relative Positioning
  
  G1 E-2 F2700 # Retract a bit
  G1 E-2 Z0.2 F2400 # Retract and raise z
  G1 X5 Y5 F3000 # Wipe out
  G1 Z10 # Raise z more
  
  G90 # Absolute Positioning
  
  G1 X0 Y0 # Present print
  
  M106 S0 # Turn off fan
  M104 S0 # Turn off Hotend
  M140 S0 # Turn off bed
  
  M84 # Disable steppers
  
  PRINT_END_SOUND
  

